name: Release

on:
  push:
    tags:
      - "[0-9]*.[0-9]*.[0-9]*"

permissions:
  contents: write

jobs:
  build-and-upload:
    name: Build and upload
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            target: arm-unknown-linux-musleabihf
          - os: ubuntu-latest
            target: armv7-unknown-linux-musleabihf
          - os: ubuntu-latest
            target: aarch64-linux-android
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
          - os: macos-latest
            target: x86_64-apple-darwin
          - os: macos-latest
            target: aarch64-apple-darwin
          - os: windows-latest
            target: x86_64-pc-windows-msvc
          - os: windows-latest
            target: aarch64-pc-windows-msvc

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Get version
        id: get_version
        uses: SebRollen/toml-action@v1.2.0
        with:
          file: Cargo.toml
          field: package.version

      # Check that the version matches the tag
      - name: Check version
        shell: bash
        run: |
          if [ "${{ steps.get_version.outputs.value }}" != "${{ github.ref_name }}" ]; then
            echo "Version in Cargo.toml does not match the tag"
            exit 1
          fi

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        # Arguments to pass in
        with:
          # Make Rust compile to our target (defined in the matrix)
          targets: ${{ matrix.target }}

      - name: Setup cache
        uses: Swatinem/rust-cache@v2.7.3
        with:
          key: ${{ matrix.target }}

      - name: Install cross
        shell: bash
        if: runner.os == 'Linux'
        run: cargo install cross --locked

      - name: Build binary
        shell: bash
        run: cross build --release --locked --target=${{ matrix.target }} --color=always --verbose

      - name: Package (*nix)
        if: runner.os != 'Windows'
        run: |
          tar -cv -C contrib/ completions/ -C ../ \
          -C target/${{ matrix.target }}/release/ jwtox |
          gzip --best > jwtox-${{ steps.get_version.outputs.value }}-${{ matrix.target }}.tar.gz

      - name: Package (Windows)
        if: runner.os == 'Windows'
        run:
          7z a jwtox-${{ steps.get_version.outputs.value }}-${{ matrix.target }}.zip `
          ./contrib/completions/ `
          ./target/${{ matrix.target }}/release/jwtox.exe

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.target }}
          path: |
            *.deb
            *.tar.gz
            *.zip
      - name: Create release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            *.deb
            *.tar.gz
            *.zip
          name: ${{ steps.get_version.outputs.value }}
